<section class="contenedor">
  <h2>Bienvenidos</h2>
  <p>
    Somos una iglesia que honra al único Dios.
    Estamos para amarlo, honrarlo, servirle y extender su Reino,
    viviendo una fe activa y comprometida con nuestra comunidad.
  </p>
</section>
